 <!-- 更新密码表单 -->
 {% extends 'v1/base/form.html' %}

 {% block body %}
 <!-- 密码 -->
 <div class="form-group">
    <label for="{{id}}_password">密码</label>
    <input type="password" class="form-control" id="{{id}}_password" name="password" placeholder="Password" required>
</div>
<!-- 确认密码 -->
<div class="form-group">
    <label for="{{id}}_confirm_password">确认密码</label>
    <input type="password" class="form-control" id="{{id}}_confirm_password" name="confirm_password" placeholder="Confirm Password" required >
</div>
 {% endblock %}