<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.4.1/styles/default.min.css">
	<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
	<script src="js/naric.js"></script>
    <script src="js/query.js"></script>
</head>

<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>用户名</th>
                <th>时间</th>
                <th>IP地址</th>
                <th>SQL代码</th>
            </tr>
        </thead>
        <tbody id="table-body-1">
        </tbody>
    </table>
    <script>
    $(document).ready(
        get_page_data()
    );
    
    </script>


</body>    