{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h1>{{title}}</h1>
    </div>
    <div class="col-12">
        <!-- 搜索表单,使用search_form生成 -->
        {% with form = search_form %}
        {% include 'v1/page/search_form.html' %}
        {% endwith %}
    </div>
</div>

<div class="row">
    <div class="card col-6">
        <div class="card-body">
            <h5 class="card-title text-center">
                {% if request.args.database_name_str %}
                当前所选数据库 
                {% else %}
                最常使用数据库 
                {% endif %}
            </h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>名称</h5>
                </div>
                <div class="col-8">
                    <h5>{{db_name}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>SQL执行次数</h5>
                </div>
                <div class="col-8">
                    <h5>{{db_query_count}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{db_statistics_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-6">
        <div class="card-body">
            <h5 class="card-title text-center">
                {% if request.args.table_name_str %}
                当前所选表 
                {% else %}
                最常使用数据表 
                {% endif %}
            </h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>名称</h5>
                </div>
                <div class="col-8">
                    <h5>{{table_name}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>SQL执行次数</h5>
                </div>
                <div class="col-8">
                    <h5>{{table_query_count}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{table_statistics_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="card col-4">
        <!-- 统计select查询次数 -->
        <div class="card-body">
            <h5 class="card-title text-center"><b>SELECT</b></h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>执行次数</h5>
                </div>
                <div class="col-8">
                    <h5>{{select_count}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{select_statistics_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-4">
        <!-- 统计insert查询次数 -->
        <div class="card-body">
            <h5 class="card-title text-center"><b>INSERT</b></h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>执行次数</h5>
                </div>
                <div class="col-8">
                    <h5>{{insert_count}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{insert_statistics_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-4">
        <!-- 统计update查询次数 -->
        <div class="card-body">
            <h5 class="card-title text-center"><b>UPDATE</b></h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>执行次数</h5>
                </div>
                <div class="col-8">
                    <h5>{{update_count}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{update_statistics_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-4">
        <!-- 统计delete查询次数 -->
        <div class="card-body">
            <h5 class="card-title text-center"><b>DELETE</b></h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>执行次数</h5>
                </div>
                <div class="col-8">
                    <h5>{{delete_count}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{delete_statistics_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-4">
        <!-- 统计其他查询次数 -->
        <div class="card-body">
            <h5 class="card-title text-center"><b>TRUNCATE</b></h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>执行次数</h5>
                </div>
                <div class="col-8">
                    <h5>{{truncate_count}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{truncate_statistics_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-4">
        <!-- 统计其他查询次数 -->
        <div class="card-body">
            <h5 class="card-title text-center"><b>DDL</b></h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>执行次数</h5>
                </div>
                <div class="col-8">
                    <h5>{{ddl_count}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{ddl_statistics_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            <h5 class="card-title text-center"><b>SYSTEM-COMMAND</b></h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>执行次数</h5>
                </div>
                <div class="col-8">
                    <h5>{{system_command_count}}</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{system_command_statistics_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            <h5 class="card-title text-center"><b>最慢执行时间</b></h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>时间</h5>
                </div>
                <div class="col-8">
                    <h5>{{slowest_query}}ms</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{exec_time_statistics_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-4">
        <div class="card-body">
            <h5 class="card-title text-center"><b>最快执行时间</b></h5>
            <div class="row text-center">
                <div class="col-4">
                    <h5>时间</h5>
                </div>
                <div class="col-8">
                    <h5>{{fastest_query}}ms</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h5>查看详情</h5>
                </div>
                <div class="col-8">
                    <a type="button" class="btn btn-primary" href="{{exec_time_statistics_asc_url}}">>>></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}